    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Project Fluency</h2>
                <p> There are 23 million adults in the United States with limited English proficiency, 90% of them immigrants. For them, language limits day-to-day life, access to jobs they are otherwise skilled for, even the ability to help their kids succeed in school.  </p>

                <p> The current solution, ESL (English as a Second Language) courses, only enroll 4% of the population in need, and are notorious for poor quality--only 40% of ESL students make progress year-to-year. Technology-based language learning programs are designed for a very different audience--much more suitable to short-term travel rather than long-term life. </p>

                <h2>Our Mission</h2>

                <p> We need to do better. </p>
                <p> Project Fluency's product helps immigrants working in service jobs turn everyday workplace interactions into learning opportunities. In order to do this, we need to create a feeling of safety so people with limited proficiency can begin having conversations in English. </p>

                <h2>The Solution</h2>

                <p> We help small groups self-administer a brief curriculum focused on informal conversation, and augment it with SMS-based behavioral nudges, leading to real-world interactions in English. The result is a positive feedback loop that improves both confidence and proficiency over time. </p>

                <div class="row">
                    <div class="col-lg-4 tcenter">
                        <img src="/img/Video.svg"> </img> <br/>
                        <p> A suite of videos to help groups practice in safe settings </p>
                    </div>
                    <div class="col-lg-4 tcenter">
                        <img src="/img/Nudges.svg"> </img> <br/>
                        <p> Daily nudges to encourage practice in the real world </p>
                    </div>
                    <div class="col-lg-4 tcenter">
                        <img src="img/Chatbot.svg"> </img> <br/>
                        <p> Chatbot for content delivery and sustained engagement </p>
                    </div>
                </div>
                <br/> <br/>

                <h2>The Value Proposition</h2>

                <div class="row">
                    <div class="col-lg-4 tcenter">
                        <img src="/img/RealWorld.svg"> </img> <br/>
                        <p> Wins are the in the real world! </p>
                    </div>
                    <div class="col-lg-4 tcenter">
                        <img src="/img/SmallWins.svg"> </img> <br/>
                        <p> Small wins build self-efficacy (confidence) long term. </p>
                    </div>
                    <div class="col-lg-4 tcenter">
                        <img src="img/Group.svg"> </img> <br/>
                        <p> Creates comfort by making learning social. </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
